<div class="artist">
  {{#each albumsResult}}
    <div class="formArtist">
      <img src={{this.images.0.url}} alt="" />
      <p>{{this.name}}</p>
      <a href="/track/{{this.id}}">View Tracks</a>
    </div>
  {{/each}}
</div>