<div>
<div class="home">
  <form action="/artist-search" , method="GET" class="form">
    <input type="text" id="search" name="search" />
    <button type="submit">Search for the artist</button>
  </form>
<div>

</div>